<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
<div class="wrapper">
<h1 class="title">Energy Check</h1>

<section class="summary summary-week">
  <h2 class="summary-heading">Week 01 Summary</h2>
  <h3 class="week-range">January 1st — 7th</h3>
  <ol class="weekday-group">
    <li class="weekday">
      <h4 class="date">01 • Monday</h4>
      <div class="card scale-09">
        <div class="score">87</div>
        <div class="entry">😂😃🙃</div>
      </div>
    </li>
    <li class="weekday">
      <h4 class="date">02 • Tuesday</h4>
      <div class="card scale-07">
        <div class="score">62</div>
        <div class="entry">😂😃🙃</div>
      </div>
    </li>
    <li class="weekday">
      <h4 class="date">03 • Wednesday</h4>
      <div class="card scale-08">
        <div class="score">88</div>
        <div class="entry">😂😃🙃</div>
      </div>
    </li>
    <li class="weekday">
      <h4 class="date">04 • Thursday</h4>
      <div class="card card-empty">
      </div>
    </li>
    <li class="weekday">
      <h4 class="date">05 • Friday</h4>
      <div class="card card-empty">
      </div>
    </li>
    <li class="weekday">
      <h4 class="date">06 • Saturday</h4>
      <div class="card card-empty">
      </div>
    </li>
    <li class="weekday">
      <h4 class="date">07 • Sunday</h4>
      <div class="card card-empty">
      </div>
    </li>
    
  </ol>
</section>
  
<section class="summary summary-year">
  <h2 class="summary-heading">2018 Overview</h2>
  <ol class="year-list">
    <li class="month">
      <h3 class="month-heading">January</h3>
      <table>
  <tr>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>T</th>
    <th>F</th>
    <th>S</th>
    <th>S</th>
  </tr>
  <tr>
    <td class="month-date">
      <button class="btn-date scale-09 tooltip-is-active">01</button>
      <div class="tooltip">
        <div class="score">87</div>
        <div class="entry">😂😃🙃</div>
      </div>
    </td>
    <td class="month-date"><button class="btn-date scale-07">02</button></td>
    <td class="month-date"><button class="btn-date scale-08">03</button></td>
    <td class="month-date"><button class="btn-date">04</button></td>
    <td class="month-date"><button class="btn-date">05</button></td>
    <td class="month-date"><button class="btn-date">06</button></td>
    <td class="month-date"><button class="btn-date">07</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">08</button></td>
    <td class="month-date"><button class="btn-date">09</button></td>
    <td class="month-date"><button class="btn-date">10</button></td>
    <td class="month-date"><button class="btn-date">11</button></td>
    <td class="month-date"><button class="btn-date">12</button></td>
    <td class="month-date"><button class="btn-date">13</button></td>
    <td class="month-date"><button class="btn-date">14</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">15</button></td>
    <td class="month-date"><button class="btn-date">16</button></td>
    <td class="month-date"><button class="btn-date">17</button></td>
    <td class="month-date"><button class="btn-date">18</button></td>
    <td class="month-date"><button class="btn-date">19</button></td>
    <td class="month-date"><button class="btn-date">20</button></td>
    <td class="month-date"><button class="btn-date">21</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">22</button></td>
    <td class="month-date"><button class="btn-date">23</button></td>
    <td class="month-date"><button class="btn-date">24</button></td>
    <td class="month-date"><button class="btn-date">25</button></td>
    <td class="month-date"><button class="btn-date">26</button></td>
    <td class="month-date"><button class="btn-date">27</button></td>
    <td class="month-date"><button class="btn-date">28</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">29</button></td>
    <td class="month-date"><button class="btn-date">30</button></td>
    <td class="month-date"><button class="btn-date">31</button></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
  </tr>
     
</table>
    </li>
    <li class="month">
      <h3 class="month-heading">February</h3>
      <table>
  <tr>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>T</th>
    <th>F</th>
    <th>S</th>
    <th>S</th>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">01</button></td>
    <td class="month-date"><button class="btn-date">02</button></td>
    <td class="month-date"><button class="btn-date">03</button></td>
    <td class="month-date"><button class="btn-date">04</button></td>
    <td class="month-date"><button class="btn-date">05</button></td>
    <td class="month-date"><button class="btn-date">06</button></td>
    <td class="month-date"><button class="btn-date">07</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">08</button></td>
    <td class="month-date"><button class="btn-date">09</button></td>
    <td class="month-date"><button class="btn-date">10</button></td>
    <td class="month-date"><button class="btn-date">11</button></td>
    <td class="month-date"><button class="btn-date">12</button></td>
    <td class="month-date"><button class="btn-date">13</button></td>
    <td class="month-date"><button class="btn-date">14</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">15</button></td>
    <td class="month-date"><button class="btn-date">16</button></td>
    <td class="month-date"><button class="btn-date">17</button></td>
    <td class="month-date"><button class="btn-date">18</button></td>
    <td class="month-date"><button class="btn-date">19</button></td>
    <td class="month-date"><button class="btn-date">20</button></td>
    <td class="month-date"><button class="btn-date">21</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">22</button></td>
    <td class="month-date"><button class="btn-date">23</button></td>
    <td class="month-date"><button class="btn-date">24</button></td>
    <td class="month-date"><button class="btn-date">25</button></td>
    <td class="month-date"><button class="btn-date">26</button></td>
    <td class="month-date"><button class="btn-date">27</button></td>
    <td class="month-date"><button class="btn-date">28</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">29</button></td>
    <td class="month-date"><button class="btn-date">30</button></td>
    <td class="month-date"><button class="btn-date">31</button></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
  </tr>
     
</table>
    </li>
    <li class="month">
      <h3 class="month-heading">March</h3>
      <table>
  <tr>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>T</th>
    <th>F</th>
    <th>S</th>
    <th>S</th>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">01</button></td>
    <td class="month-date"><button class="btn-date">02</button></td>
    <td class="month-date"><button class="btn-date">03</button></td>
    <td class="month-date"><button class="btn-date">04</button></td>
    <td class="month-date"><button class="btn-date">05</button></td>
    <td class="month-date"><button class="btn-date">06</button></td>
    <td class="month-date"><button class="btn-date">07</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">08</button></td>
    <td class="month-date"><button class="btn-date">09</button></td>
    <td class="month-date"><button class="btn-date">10</button></td>
    <td class="month-date"><button class="btn-date">11</button></td>
    <td class="month-date"><button class="btn-date">12</button></td>
    <td class="month-date"><button class="btn-date">13</button></td>
    <td class="month-date"><button class="btn-date">14</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">15</button></td>
    <td class="month-date"><button class="btn-date">16</button></td>
    <td class="month-date"><button class="btn-date">17</button></td>
    <td class="month-date"><button class="btn-date">18</button></td>
    <td class="month-date"><button class="btn-date">19</button></td>
    <td class="month-date"><button class="btn-date">20</button></td>
    <td class="month-date"><button class="btn-date">21</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">22</button></td>
    <td class="month-date"><button class="btn-date">23</button></td>
    <td class="month-date"><button class="btn-date">24</button></td>
    <td class="month-date"><button class="btn-date">25</button></td>
    <td class="month-date"><button class="btn-date">26</button></td>
    <td class="month-date"><button class="btn-date">27</button></td>
    <td class="month-date"><button class="btn-date">28</button></td>
  </tr>
  <tr>
    <td class="month-date"><button class="btn-date">29</button></td>
    <td class="month-date"><button class="btn-date">30</button></td>
    <td class="month-date"><button class="btn-date">31</button></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
    <td class="month-date"></td>
  </tr>
     
</table>
    </li>
    
  </ol>
</section>
  
</div>

    </body>
</html>
